# Redis connection
REDIS_HOST=localhost
REDIS_PORT=6379

# AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BASE=

# CoREStack API
CORESTACK_API_URL=https://api-doc.core-stack.org/api/v1
CORESTACK_API_KEY=
BASE_GEOSERVER=https://geoserver.core-stack.org:8443/geoserver/

# Working Directories
TEMP_PATH=/tmp/

# DuckDB Settings
DUCKDB_MEMORY_LIMIT=4GB

# Raw Admin Bounds Files
TEHSIL_BOUNDS=
