repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: detect-private-key
    # - id: detect-aws-credentials
    - id: check-yaml
    - id: check-toml
    - id: check-json
    - id: check-added-large-files
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
    - id: ruff-check
      args: ["--fix", "--exit-zero"]
    - id: ruff-format
- repo: local
  hooks:
  - id: pytest-check
    name: pytest-check
    stages: [pre-commit]
    types: [python]
    entry: pytest
    language: system
    pass_filenames: false
    always_run: true
